body {
	background: url(../img/gradient.png) repeat-x #0c739f;
}

.wrapper {
	height: 980px;
	width: 1000px;

	border-bottom: 3px solid #000000;
	margin: 38px auto 34px auto;

	background-color: #fff;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
	font-family: Tahoma, sans-serif;
}

/*Start header*/
header {
	color: #128aa7;
	display: flex;
	justify-content: space-between; 
	height: 175px;
}

.logo {
	position: relative;

	padding-left: 28px;
	padding-top: 11px;
}

.logo h1 {
	position: absolute;
	
	top: 110px;
	left: 80px;
}

.header-right-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.contacts p {
	padding: 0 8px;
	font-size: 10px;
}

.contacts {
	height: 66px;

	padding-right: 32px;
 	padding-top: 11px;

	line-height: 15px;
}

.contacts span {
	font-weight: bold;	
	text-align: center;
	padding-left: 12px;	
	font-size: 12px;
}

.contacts p {	
	font-size: 12px

}

/*Start contires menu with sprite*/

.contries {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
    padding-right: 32px;
}

.contries-name {
	display: inline-flex;
	flex-direction: row-reverse;
    justify-content: space-between;

    width: 100%;
	padding-bottom: 10px;
}


.contries-name a {
	color: #128aa7;
	font-size: 10px;
	width: 55px;
	text-align: center;
}

.sprite-block {
    width: 340px;
    display: inline-flex;
    justify-content: space-between;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;

    width: 42px;
    height: 42px;
}

.sprite-1 {
    background-position: -20px -20px;
	margin-left: 5px;
}

.sprite-2 {
    background-position: -102px -20px;
}

.sprite-3 {
    background-position: -183px -20px;
}

.sprite-4 {
    background-position: -266px -20px;
}

.sprite-5 {
    background-position: -348px -20px;
}

.sprite-6 {
    background-position: -430px -20px;
	margin-right: 5px;
}

/*End contries menu with sprite*/
/*End header */

/*Start central panel*/
.center-panel {
	height: 29px;
	line-height: 28px;
	position: relative;
	
	margin-top: -3px;
	border-bottom: 1px solid #000000;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);

    z-index: 2;
	background-color: #333333;
}

.center-panel a {
	text-decoration: none;
}

.center-panel ul ul{
	display: none;
	position: absolute;
	top: 28px;
	
	box-shadow: 0px 4px 20px rgba(0,0,0,0.9);
	background-color: #333333;
}

.center-panel ul li:hover > ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;

    z-index: 2;
}

.center-panel ul li:hover > ul li:hover {
    background: #444444;
}

.center-panel ul {
	display: inline-flex;
}

.center-panel ul li {
	display: inline-flex;
	justify-content: flex-start;

	margin-left: 10px;
	padding-right: 33px; 
}

.center-panel ul li:first-child {
	margin-left: 57px;
}

.center-panel ul ul li:first-child {
	margin: 0;
}

.center-panel ul li a {
	display: flex;

	padding-left: 10px;

	color: #ffffff;
}

.center-panel ul ul li {
	position: relative;

	margin: 0px;
}

/*Triangle in central-panel*/
.active1:after,
.active2:after,
.active3:after {
    content: "";
    position: absolute;
    top: 2px;

    border: 4px solid transparent;
    border-top: 4px solid #fff;
}


.active1:after {
	margin-top: 12px;
	margin-left: 112px;
}

.active2:after {
    margin-top: 12px;
    margin-left: 64px;
}

.active3:after {
    margin-top: 12px;
    margin-left: 96px;
}

.active1:hover:after,
.active2:hover:after,
.active3:hover:after{
	position: absolute;
    top: -1px;

	border: 4px solid transparent;
	border-left: 4px solid #fff;
}
/*End triangle in central panel*/
/*End central panel*/

/*Start actitcle content. Equal blocks made using wrapping blocks */
/*http://www.master-web.info/equal-height-columns-cross-browser-css/*/

.article-content {
	height: 548px;
    width: 100%;
}

.fon-left-content,
.fon-center-content,
.fon-right-content{
    float: left;
    width: 100%;

    z-index: 1;
}

.fon-left-content {
    background: #edeef0;
    position: relative;
    right: 52%;
}

.fon-center-content {
    background: #ffffff;
    position: relative;
    right: 24%;

}

.fon-right-content {
    background: #edeef0;
    overflow: hidden;
}

.left-content {
	width: 20%;
    float: left;
    overflow: hidden;
    left: 78%;
    position: relative;

	line-height: 22px;
}

.center-content {
	width: 52%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 80%;
}

.right-content {
	width: 24%;
    float: left;

    position: relative;
    left: 80%;
	line-height: 22px;
}
/*End wrapping blocks*/

.left-content span,
.right-content span {
    font-size: 18px;
}

.left-content,
.right-content {
    text-align: center;
}

.left-content p {

}

/*End article content*/


footer p {
	padding: 8px 0;
	color: #dee7ee;
	text-align: center;
}